/* IMPORT */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');


/* GLOBAL */

:root {
    /* Primary  */
    --Lime-Green: hsl(163, 72%, 41%);
    --Bright-Red: hsl(356, 69%, 56%); 
    --Facebook: hsl(208, 92%, 53%); 
    --Twitter: hsl(203, 89%, 53%); 
    --Instagram: linear-gradient(
        to right,
        hsl(37, 97%, 70%), 
        hsl(329, 70%, 58%)
    );
    --YouTube: hsl(348, 97%, 39%); 

    /* Dark Theme   */
    --Toggle-dark: linear-gradient(
        to right,
        hsl(210, 78%, 56%),
        hsl(146, 68%, 55%)
    );

    /* Light Theme   */
    --Toggle-light: hsl(230, 22%, 74%);

    /* Neutral  */

    /* Dark Theme  */
    --Very-Dark-Blue: hsl(230, 17%, 14%); /*(BG)*/
    --Very-Dark-Blue-Top: hsl(232, 19%, 15%); /*(Top BG Pattern)*/
    --Dark-Desaturated-Blue: hsl(228, 28%, 20%); /*(Card BG)*/
    --Desaturated-Blue: hsl(228, 34%, 66%); /*(Text)*/
    --White: hsl(0, 0%, 100%); /*(Text)*/
    
    /* Light Theme  */
    --White: hsl(0, 0%, 100%); /*(BG)*/
    --Very-Pale-Blue: hsl(225, 100%, 98%); /*(Top BG Pattern)*/
    --Light-Grayish-Blue: hsl(227, 47%, 96%); /*(Card BG)*/
    --Dark-Grayish-Blue: hsl(228, 12%, 44%); /*(Text)*/
    --Very-Dark-Blue: hsl(230, 17%, 14%); /*(Text)*/
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition-property: background-color, color;
    transition-duration: 300ms;
    transition-timing-function: ease-out;
}

body {
    font-size: 14px;
    font-family: Inter, sans-serif;
    background-color: var(--White);
    position: relative;
    z-index: 1;
    padding-bottom: 50px;
}

.container {
    width: 85%;
    margin: 0 auto;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


/* HEADER */

header {
    padding-top: 30px;
    margin-bottom: 50px;
}

header::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 225px;
    top: 0;
    background-color: var(--Very-Pale-Blue);
    z-index: -1;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

hr {
    display: none;
}

h1 {
    font-size: 1.75em;
    color: var(--Very-Dark-Blue);
}

h4 {
    color: var(--Dark-Grayish-Blue);
    margin-right: 10px;
}

.btn {
    background-color: var(--Toggle-light);
    width: 40px;
    height: 20px;
    padding: 2.5px 3px;
    border-radius: 30px;
    cursor: pointer;
}

.inner-circle {
    background-color: var(--Very-Pale-Blue);
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-left: 19.5px;
    transition: margin 300ms ease-out;
}

.dark .btn > .inner-circle {
    margin-left: 0;
}


/* MAIN */

.box {
    background-color: var(--Light-Grayish-Blue);
    border-radius: 5px;
}

.large .flex {
    justify-content: center;
}

.box .flex img {
    margin-right: 5px;
}

.box .flex:first-child {
    font-weight: 700;
    color: var(--Dark-Grayish-Blue);
}

.large {
    text-align: center;
    align-items: stretch;
}

.large .box {
    width: 22%;
    position: relative;
    overflow: hidden;
    padding: 30px 0 20px;
}

.large .box::before {
    content: '';
    height: 3px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.facebook::before {
    background-color: var(--Facebook);
}

.twitter::before {
    background-color: var(--Twitter);
}

.instagram::before {
    background-image: var(--Instagram);
}

.youtube::before {
    background-color: var(--YouTube);
}

.num {
    font-size: 4em;
    font-weight: 700;
    color: var(--Very-Dark-Blue);
}

.box p {
    color: var(--Dark-Grayish-Blue);
    text-transform: uppercase;
    letter-spacing: 0.25em;
    margin-bottom: 30px;
}

.recent,
.trend {
    font-weight: 700;
}

.up {
    color: var(--Lime-Green);
}

.down {
    color: var(--Bright-Red);
}


/* OVERVIEW */

h2 {
    color: var(--Dark-Grayish-Blue);
    margin: 40px 0 20px;
}

h3 {
    color: var(--Dark-Grayish-Blue);
}

.overview .boxes {
    display: grid;
    grid-template: 125px 125px / repeat(4, 1fr);
    column-gap: 4%;
    row-gap: 10%;
}

.overview .box {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.overview .num {
    font-size: 2em;
}


/* DARK MODE */

.dark header::before {
    background-color: var(--Very-Dark-Blue-Top);
}

body.dark {
    background-color: var(--Very-Dark-Blue);
}

.dark h1 {
    color: var(--White);
}

.dark .box {
    background-color: var(--Dark-Desaturated-Blue);
}

.dark .num {
    color: var(--White);
}

.dark .btn {
    background-color: unset;
    background-image: var(--Toggle-dark);
}

.dark .inner-circle {
    background-color: var(--Very-Dark-Blue-Top);
}

.dark h2 {
    color: var(--White);
}

.dark h3,
.dark h4,
.dark .box p,
.dark .box .flex:first-child {
    color: var(--Desaturated-Blue);
}


/* MEDIA QUERIES */

@media only screen and (max-width: 850px) {

    header .container {
        flex-direction: column;
        align-items: stretch;
    }

    hr {
        display: block;
        margin: 20px 0;
        border: solid 1px var(--Toggle-light);
        border-style: solid;
    }

    .boxes {
        flex-direction: column;
    }

    .large .box {
        width: 100%;
        margin-bottom: 30px;
    }

    .box {
        width: 100%;
    }

    .overview .boxes {
        grid-template: repeat(8, 125px) / 100%;
        row-gap: 2%;
    }
}
